@font-face{
    src: url(assets/font/DeterminationMonoWebRegular-Z5oq.ttf);
    font-family: Determination;
}


body {
    font-family: Determination;
    background: black;
    color: white;
    
}

.interface {
    border: 5px solid white;
    text-align: center;
}

.flexbox-container {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}

.left-img {
    display: flex;
    height: 400px;
    width: 400px;
    max-height: 33%;

}

.right-img {

    height: 400px;
    width: 400px;
    max-height: 33%;
 
}

.modal{
    background-color: gray;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    /*
    display: flex;
    align-items: center;
    justify-content: center;*/
    max-width: 80%;
    padding: 10px 10px;
}

.modal_body{
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal.active{
    transform: translate(-50%, -50%) scale(1); 
}

#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

.modal-header{
    justify-content: right;
    align-items: right;
    border-bottom: 1px solid black;
}